<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font-->
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
    <!-- Styles-->
    <link href="../styles.css" rel="stylesheet">
    <!-- Title -->
    <title>404 Not Found</title>
</head>
<body>
    <header class="header">
        <img class="header__img" src="../assets/logo-platzi-video-BW2.png" alt="Logo">
        <div class="header__menu">
            <div class="header__menu--profile">
                <img src="../assets/user-icon.png" alt="User">
                <p>Perfil</p>
            </div>
            <ul>
                <li><a href="/">Cuenta</a></li>
                <li><a href="/">Cerrar Sesión</a></li>
            </ul>
        </div>
    </header>
    <section class="error">
        <div class="error__container"> 
        <h1 class="error__container--title animated wobble">404</h1>
        <h2 class="error__container--subtitle">Page not found</h2>
        <img class="error__container--img" src="../Assets/astronaut.png" alt="astronaut">
        </div>
    </section>
    <footer class="footer">
        <a href="/">Términos de uso</a>
        <a href="/">Declaración de privacidad</a>
        <a href="/">Centro de ayuda</a>
    </footer>
    
</body>
</html>