$font-primary__color: white;
$font-primary__family: 'Mulish', sans-serif;
$background-primary__gradient: linear-gradient( #4158D0 0%, #C850C0 46%, #FFCC70 100%);

.flex{
    display: flex;
    align-items: center;
}

//404 ANIMATION
.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

body {
    background-color: #FFCC70;
    background-image: $background-primary__gradient;
    font-family: $font-primary__family;
    margin: 0px;   
    overflow-x: hidden;
}

.button{
    background-color: rgb(255,255,255,0.1);
    border: none;
    border-radius: 25px;
    color: $font-primary__color;
    cursor: pointer;
    font-family:  $font-primary__family;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}


//CAROUSEL COMPONENT START
.carousel {
    margin: auto;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 30px ;
    position: relative;
    width: 100%;
}
  
.carousel__container{
    @extend .flex;
    flex-direction: row;
    justify-content: center;
    margin: 35px 0px;
    margin-bottom: 20px;
    white-space: nowrap;
    padding-bottom: 20px;
}

.carousel__container:hover .carousel-item{
    opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover{
    opacity: 1;
    transform: scale(1.5);
}

.carousel-item{
    background-color: gray;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: inline-block;
    height: 250px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    transition: 420ms all;
    transform-origin: center ;
    width: 200px;
    
}

.carousel-item:hover ~ .carousel-item {
    transform: translate3d(50px, 0, 0);
}

.carousel-item__details{
    background: linear-gradient(to top rgba(0, 0, 0, 0.9)0%, rgba(0, 0, 0, 0)100%);
    bottom: 0;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    justify-content: flex-end;
    left: 0;
    opacity: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    transition: 450 ms opacity ;
}

.carousel-item__details img{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    width: 25px;
}

.carousel-item__details p {
    margin: 0px;
}

.carousel-item__details:hover{
    color: $font-primary__color;
    opacity: 1;
}

.carousel-item__img{
    height: 250px;
    object-fit: cover;
    width: 200px;
}
// CAROUSEL  COMPONENT ENDS

.categories__title{
    color: $font-primary__color;
    font-size: 22px;
    font-family:  $font-primary__family;
    font-weight: 900;
    max-width: 1240px;
    margin-bottom: -40px;
    padding-left: 70px; 
    text-align: left;
    width: 100%;
}

//404 VIEW START
.error{
    color: $font-primary__color;
    padding-top: 100px;
}

.error__container{
    @extend .flex;
    flex-direction: column;  
}

.error__container--title{
    font-size: 60px;
    font-weight: 900;
}

.error__container--img{
    height: 50%;

}
//404 VIEW END

//FOOTER START
.footer{
    @extend .flex;
    background-color: $background-primary__gradient;
    height: 100px;
    width: 100%;
}

.footer a {
    color: $font-primary__color;
    cursor: pointer;
    font-size: 16px;
    padding-left: 30px;
    text-decoration: none;

}

.footer a:hover{
    text-decoration: underline;
}
//FOOTER END


.header {
    @extend .flex;
    background-color:$background-primary__gradient;
    height: 100px;
    justify-content: space-between;
    width: 100%;
}

.header__img {
    margin-left: 10px;
    margin-top: 10px;
    width: 200px;
}

.header__menu {
    margin-right: 30px;
}

.header__menu ul{
    display: none;
    list-style: none;
    margin: 0px 0px 0px -14px;
    padding: 0px;
    position: absolute;
    text-align: right;
    width: 100px;
}

.header__menu:hover ul, ul:hover{
    display: block;
}

.header__menu li {
    margin: 10px 0px;
}

.header__menu li a{
    color: $font-primary__color;
    text-decoration: none;
}

.header__menu li a:hover {
    text-decoration: underline;
}

.header__menu--profile {
    @extend .flex;
    margin-right: 30px;
}

.header__menu--profile img{
    margin-right: 8px;
    width: 40px;
}

.header__menu--profile p{
    color: $font-primary__color;
    margin: 0px;
}    

.input{
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-family:  $font-primary__family;
    font-size: 16px;
    height: 50px;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
}


// LOGIN VIEW START
.login{
    @extend .flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 200px);
    padding: 0px 30px;
}
//By design this class doesn't use align-items: center;
.login__container{
    background-color: rgb(255,255,255,0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: $font-primary__color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 700px;
    padding: 60px 68px 40px;
    width: 300px;
}

.login__container--form{
    display: flex;
    flex-direction: column;
    label{
        font-size: 14px;
    }
}

.login__container--register{
    font-size: 14px;
}

.login__container--register a{
    font-size: 16px;
    color: $font-primary__color;
    font-weight: bold;
    text-decoration: none;
}

.login__container--register a:hover{
    text-decoration: underline;
}

.login__container--remember-me{
    color: $font-primary__color;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login__container--remember-me a{
    color: $font-primary__color;
    font-size: 14;
    text-decoration: none;
}

.login__container--remember-me a:hover{
    text-decoration: underline;
}


.login__container--social-media > div{
    @extend .flex;
    font-size: 14px;
    margin-bottom: 10px;
}

.login__container--social-media > div > img{
    width: 30px;
    margin-right: 10px;
}
// LOGIN VIEW END


//MAIN VIEW
.main{
    @extend .flex;
    flex-direction: column;
    height: 300ox;
}

.main__title{
    color: $font-primary__color; 
    font-size: 25px;
}

.main__title--input{
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 30px;
    color: $font-primary__color;
    font-family:  $font-primary__family;
    font-size: 16px;
    height: 50px;
    margin-bottom: 20px;
    outline: none;
    padding: 0px 20px;
    width: 70%;    
}
//MAIN VIEW END


//SIGNUP VIEW START
.login__container--signup{
    text-align: center;
    font-size: 14px;
}

.login__container--signup a{
    color: $font-primary__color;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.login__container--signup a:hover{
    text-decoration: underline;
}
//SIGNUP VIEW END

//404 PAGE ANIMATION NAME
.wobble {
    animation-name: wobble;
}

::placeholder{
    color: $font-primary__color;
}

//CAROUSEL SCROLLING
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

::-webkit-scrollbar {
    background:rgba(255,255,255,.4);
    border-radius: 4px;
    height: 8px;   
    width: 8px; 
}

::-webkit-scrollbar:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar:hover:active {
background: #999;
}
  

//MEDIA QUERY START
@media only screen and (max-width: 600px){
    .login__container{
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;
    }
    .footer{
        align-items: flex-start;
        flex-direction: column;

    }
}
//MEDIA QUERY END

//KEYFRAMES
@keyframes wobble {
    0% {transform: translateX(0%);}
    15% {transform: translateX(-25%) rotate(-5deg);}
    30% {transform: translateX(20%) rotate(3deg);}
    45% {transform: translateX(-15%) rotate(-3deg);}
    60% {transform: translateX(10%) rotate(2deg);}
    75% {transform: translateX(-5%) rotate(-1deg);}
    100% {transform: translateX(0%);}
}
